<header>
  <img
    src="assets/images/searchprice-logo.svg"
    alt="Search Price Logo"
    width="300"
    height="60"
  />
  <div id="signin-signup-container">
    <button id="signin-btn" routerLink="/signin">Entrar</button>
    <button id="signup-btn" routerLink="/signup">Cadastre-se</button>
  </div>
</header>
<button id="whatsapp-btn">
  <img
    src="assets/images/whatsapp.png"
    alt="WhatsApp"
    width="37px"
    height="37px"
  />Conversar com os fundadores
</button>
<section id="section1">
  <div id="video-container">
    <video controls autoplay loop width="700" height="360">
      <source src="video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div id="video-intro">
    <h1>Transforme horas de pesquisa por produtos em minutos</h1>
    <button id="video-btn">Quero economizar meu tempo</button>
  </div>
</section>
<section id="section2">
  <div class="justify-content-center">
    <img
      id="marketplaces-comparison-table-img"
      src="assets/images/marketplaces-comparison-table.png"
      alt="Tabela de Comparativa de Marketplaces"
      width="780"
      height="380"
    />
  </div>
  <div class="justify-content-center">
    <div id="icons-container">
      <img class="icon" src="assets/images/lupa.png" alt="lupa" />
      <img class="icon" src="assets/images/pointer.png" alt="pointer" />
      <img class="icon" src="assets/images/estrela.png" alt="estrela" />
    </div>
  </div>
  <div class="justify-content-center">
    <div id="icons-labels">
      <p style="width: 120px">Busque por produtos</p>
      <p style="width: 150px">Escolha as melhores oportunidades</p>
      <p style="width: 120px">Busque por um produto</p>
    </div>
  </div>
</section>
<section id="section3">
  <article>
    <img
      class="article-img"
      src="assets/images/article1.png"
      alt="Notebook com uma ampulheta e um relógio"
    />
    <div class="article-content">
      <h4>ENCONTRE OS MELHORES PREÇOS EM SEGUNDOS</h4>
      <h2>
        Compare a lucratividade de vários produtos em vários marketplaces com um
        clique
      </h2>
      <p>
        A Search Price permite que você encontre os preços mais competitivos em
        diversos marketplaces com apenas alguns cliques. Chega de perder horas
        navegando em diferentes sites - agora você pode obter as informações que
        precisa instantaneamente, economizando um tempo valioso que pode ser
        dedicado a fazer crescer seu negócio.
      </p>
    </div>
  </article>
  <article>
    <div class="article-content2">
      <h4>MANTENHA-SE À FRENTE DA CONCORRÊNCIA</h4>
      <h2>Precificação imbatível para dominar o mercado</h2>
      <p>
        Em um mercado cada vez mais disputado, oferecer os melhores preços é
        fundamental para se destacar. Com nosso software, você terá acesso em
        tempo real aos preços praticados pelos seus concorrentes, permitindo que
        você ajuste suas próprias ofertas de forma estratégica. Seja conhecido
        como a escolha mais acessível e atraia mais clientes para sua loja
        virtual.
      </p>
    </div>
    <img
      class="article-img2"
      src="assets/images/article2.png"
      alt="Notebook com uma ampulheta e um relógio"
    />
  </article>
  <article>
    <img
      class="article-img"
      src="assets/images/article3.png"
      alt="Notebook com uma ampulheta e um relógio"
    />
    <div class="article-content">
      <h4>TOME DECISÔES BASEADAS EM DADOS</h4>
      <h2>Dados precisos para impulsionar seu negócio</h2>
      <p>
        Tome decisões de precificação embasadas em dados concretos e não em
        suposições. Nosso software fornece relatórios detalhados e insights
        valiosos sobre as tendências de preços no mercado. Com essas informações
        estratégicas, você poderá identificar oportunidades, antecipar mudanças
        e adaptar-se rapidamente para maximizar seus lucros.
      </p>
    </div>
  </article>
</section>
<section id="section4">
  <div class="gray-container">
    <h3>Comece a economizar tempo hoje</h3>
    <div class="gray-button-container">
      <button class="free-test-btn">Iniciar teste grátis</button>
      <button class="talk-to-founders-btn">Conversar com os fundadores</button>
    </div>
  </div>
</section>
<section id="section5">
  <div id="grid-intro">
    <h3>COMPARE</h3>
    <p>
      Somos a <span>sua melhor alternativa</span> de economizar seu tempo com
      busca de produtos que faturam
    </p>
  </div>
  <div class="grid-container">
    <div id="grid-topics-container">
      <div class="grid-topic">
        <img
          src="assets/images/dinheiro.png"
          alt="Nota de Dinheiro"
          width="42px"
          height="40px"
        />
        <p>Análise de mercado em tempo real</p>
      </div>
      <div class="grid-topic">
        <img
          src="assets/images/dinheiro.png"
          alt="Nota de Dinheiro"
          width="42px"
          height="40px"
        />
        <p>Calculadora de lucro integrada</p>
      </div>
      <div class="grid-topic">
        <img
          src="assets/images/dinheiro.png"
          alt="Nota de Dinheiro"
          width="42px"
          height="40px"
        />
        <p>Baixo custo</p>
      </div>
      <div class="grid-topic">
        <img
          src="assets/images/dinheiro.png"
          alt="Nota de Dinheiro"
          width="42px"
          height="40px"
        />
        <p>Busca assertiva</p>
      </div>
      <div class="grid-topic">
        <img
          src="assets/images/dinheiro.png"
          alt="Nota de Dinheiro"
          width="42px"
          height="40px"
        />
        <p>Fonecedores na plataforma</p>
      </div>
    </div>
    <div id="grid-availability-container">
      <div id="grid-searchprice-title">Search Price</div>
      <div class="grid-title">Google</div>
      <div class="grid-title">Chat GPT</div>
      <div class="grid-title">Avantpro</div>
      <div class="grid-sp-available-item">✅</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-sp-available-item">✅</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-sp-available-item">✅</div>
      <div class="grid-available-item">✅</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-sp-available-item">✅</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-sp-available-item">✅</div>
      <div class="grid-available-item">✅</div>
      <div class="grid-available-item">❌</div>
      <div class="grid-available-item">❌</div>
    </div>
  </div>
</section>
<section id="section6">
  <h1>Seja um membro fundador da Search Price</h1>
  <p>
    Teste a search price gratuitamente por 7 dias e receba benefícios exclusivos
    a membros fundadores
  </p>
  <button>Quero ser um membro fundador</button>
</section>
<section id="section7">
  <h2>Perguntas frequentes</h2>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>O que é a Search Price?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        É uma plataforma de comparação massiva e centralizada para os principais
        marketplaces, permitindo acesso a dados como preços, visitas e vendas.
        Nela também o usuário encontrará fornecedores e ofertas para os produtos
        pesquisados.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          >Como a Search Price ajuda os vendedores?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        A plataforma economiza tempo ao centralizar a busca por preços
        competitivos, permitindo que os vendedores foquem em estratégias para
        crescer seus negócios.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          >Quais são os benefícios de usar a Search Price?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        Centralização das informações, economia de tempo, maior assertividade
        nas decisões de compra e venda, e uma visão ampla do mercado.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          >Como a Search Price pode me ajudar a definir preços
          competitivos?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        A plataforma fornece dados em tempo real sobre os preços praticados
        pelos concorrentes, permitindo ajustes estratégicos nas suas ofertas.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          >O que diferencia a Search Price de outras ferramentas no
          mercado?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        A Search Price combina comparação massiva de preços e compra
        centralizada, oferecendo uma solução integrada que outras ferramentas
        não possuem.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          >Posso utilizar a Search Price em diferentes
          marketplaces?</mat-panel-title
        >
      </mat-expansion-panel-header>
      <p>
        Sim, a Search Price permite comparar preços em múltiplos marketplaces de
        forma simultânea.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</section>
<footer>
  <h1>Ainda restam dúvidas?</h1>
  <button id="contact-founders-btn">Entre em contato com os fundadores</button>
</footer>
